body{
    margin: 0;
    background-image: url(background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    font-family: 'Bellefair', serif;
}

.main {
    height: 100vh;
}

/* HEADERS NAV */

.header {
    width: 1000px;  
    height: 100px; 
    display: flex;
    padding-left: 100px;
    padding-bottom: 10PX;
    backdrop-filter: blur(80px);
    margin-top: 40px;
    position: relative;
    left: 900px;
    top: -50px; 
    align-items: center;
 }



#span {
    display: flex;
    align-content: center;
    justify-content: left;
    position: relative;
    top: 70px;
    left: 100px;
}


.line{
    width: 700px;
    color: white;
    position: relative;
    top: 20px;
    left: -760px;
    overflow: visible;
    font-weight: 1px;
    opacity: 20%;
}
a{
    text-decoration: none;
    margin: 40px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 40px 0px;
    font-family: 'Barlow Condensed', sans-serif;
}

a:hover{
    border-bottom: 2px solid white;
}
/* HEADERS NAV */

#button #anchor{
   padding: 0.3rem;
    border-radius: 100px;
    border: 2px solid rgb(134, 134, 134);
    background: grey;
    position: absolute;
    left: 9%;
    top: 90%;
    margin: 20px;
    
}

#button #anchor2{
    padding: 0.3rem;
     border-radius: 100px;
     border: 2px solid rgb(134, 134, 134);
     background: gray;
     position: absolute;
     left: 11%;
     top: 90%;
     margin: 20px;
     
 }

 #button #anchor3{
    padding: 0.3rem;
     border-radius: 100px;
     border: 2px solid rgb(255, 255, 255);
     background: white;
     position: absolute;
     left: 13%;
     top: 90%;
     margin: 20px;
     
 }

 #button #anchor4{
    padding: 0.3rem;
     border-radius: 100px;
     border: 2px solid rgb(134, 134, 134);
     background: grey;
     position: absolute;
     left: 15%;
     top: 90%;
     margin: 20px;
     
 }

/* PARAGPRAPH TANAN */

.paragraph p{
    color: white;
    font-size: 25px;
    width: 530px;
    position: absolute;
    left: 10%;
    top: 65%;
    opacity: 70%;
}

.paragraph h1{
    font-size: 90px;
    color: white;
    position: absolute;
    left: 10%;
    top: 48%;
}

.paragraph h3{
    font-size: 38px;
    color: white;
    position: absolute;
    left: 10%;
    top: 43%;
    opacity: 40%;
    text-transform: uppercase;
}

.paragraph h2{
    font-size: 30px;
    color: white;
    position: absolute;
    left: 10%;
    top: 19.7%;
    text-transform: uppercase;
    opacity: 40%;

}

.paragraph .meet{   
    color: white;
    position: absolute;
    text-transform: uppercase;
    top: 20%;
    left: 12.7%;

}

/* PARAGPRAPH TANAN */


.img img{
    position: absolute;
    top: 30%;
    left: 52%;
    width: 600px;
}
